{{ this.beginPage() }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="<?php echo Yii::$app->charset; ?>"/>
    <title>{{ html.encode(this.title) }}</title>
    {{ this.head() }}
</head>
<body>
{{ this.beginBody() }}
    {# DEFAULT_TWIG_COMMENT #}
    {* CUSTOM_LEXER_TWIG_COMMENT *}
    body
{{ this.endBody() }}
</body>
{{ this.endPage() }}
